<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="transfer">

    <!-- [이관내역] 목록 조회 -->
	<select id="select" resultType="TransferDomain" parameterType="TransferDomain">
	       SELECT CNLT_SEQ
                    , CNLT_DETAIL_NO
                    , CNLT_PROC_CD
                    , CNLT_DATE
                    , TELL_NUM
                    , USER_NM
                    , CHNL_CODE
                    , CHNL_CODE_NAME
                    , LCODE_NAME
                    , MCODE_NAME
                    , SCODE_NAME
                    , REG_DATE
                    , TRAN_ID
                    , TRAN_NM
                    , CUST_NM
                    , REC_URL
                    , IO_TYPE
                    , TARGET_TB
                    , RNUM
            FROM (
                SELECT
                      CNLT_SEQ
                    , CNLT_DETAIL_NO
                    , CNLT_PROC_CD
                    , CNLT_DATE
                    , TELL_NUM
                    , USER_NM
                    , CHNL_CODE
                    , CHNL_CODE_NAME
                    , LCODE_NAME
                    , MCODE_NAME
                    , SCODE_NAME
                    , REG_DATE
                    , TRAN_ID
                    , TRAN_NM
                    , CUST_NM
                    , REC_URL
                    , IO_TYPE
                    , TARGET_TB
                    , ROWNUM AS RNUM
                    FROM (
					       SELECT A.CNLT_SEQ
				                    , A.CNLT_DETAIL_NO
				                    , A.CNLT_PROC_CD
				                    , A.CNLT_DATE
				                    , A.TELL_NUM
				                    , C.USER_NM AS USER_NM
				                    , A.CHNL_CODE
				                    , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE='00' AND MCODE='00' AND SCODE='00') AS CHNL_CODE_NAME
				                    , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND LCODE <![CDATA[<>]]> '00' AND MCODE='00' AND SCODE='00') AS LCODE_NAME
									, (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND MCODE=A.MCODE AND MCODE <![CDATA[<>]]> '00' AND SCODE='00') AS MCODE_NAME
									, (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND MCODE=A.MCODE AND SCODE=A.SCODE AND SCODE <![CDATA[<>]]> '00') AS SCODE_NAME
                                    , A.REG_DATE
				                    , A.TRAN_ID
                                    , (SELECT USER_NM FROM IF_CO_USER_MA WHERE USER_ID = A.TRAN_ID) AS TRAN_NM
                                    , (SELECT CUST_NM FROM TH_CONSULT WHERE CNLT_SEQ = B.CNLT_SEQ) AS CUST_NM
                                    , A.REC_URL
                                    , A.IO_TYPE
                                    , A.TARGET_TB
				            FROM
				                 (SELECT A1.*, 'ORG' AS TARGET_TB FROM TH_CONSULT_DETAIL A1
				                UNION ALL
				                SELECT A2.*, 'HIST' AS TARGET_TB FROM TH_CONSULT_DETAIL_HIST A2) A ,
				                TH_TRANSFER B,IF_CO_USER_MA C
				          WHERE 1=1
                              AND A.CNLT_SEQ = B.CNLT_SEQ
                              AND A.CNLT_DETAIL_NO = B.CNLT_DETAIL_NO
                              AND A.USER_ID = C.USER_ID
				              AND A.CNLT_PROC_CD IN  ('03','04','07')
				              <if test="selCustNm != null and selCustNm != ''">
                              AND A.CNLT_SEQ IN (SELECT CNLT_SEQ FROM TH_CONSULT WHERE CUST_NM LIKE '%'|| #{selCustNm} ||'%')
				              </if>
				              <if test="selTellNum != null and selTellNum != ''">
				              AND A.TELL_NUM  LIKE '%'|| #{selTellNum} ||'%'
				              </if>
				              <if test="selUserNm != null and selUserNm != ''">
				              AND C.USER_NM LIKE '%'|| #{selUserNm} ||'%'
				              </if>
				              <if test="selTranNm != null and selTranNm != ''">
				              AND A.TRAN_ID IN (SELECT USER_ID FROM IF_CO_USER_MA WHERE USER_NM LIKE '%'|| #{selTranNm} ||'%')
				              </if>
				              <if test="selFromDt != null and selFromDt != ''">
				              AND A.CNLT_DATE  BETWEEN TO_DATE(#{selFromDt},'YYYY-MM-DD') AND (TO_DATE(#{selToDt},'YYYY-MM-DD') +1)
				              </if>
				              ORDER BY A.CNLT_DATE DESC
                           )
                 )
         WHERE RNUM BETWEEN #{fromRowPerPage} AND #{toRowPerPage}
	</select>

    <!-- [이관내역] 페이징 조회 -->
    <select id="selectTransferTotalCount"  resultType="int" >
         SELECT COUNT(*) AS TOTALCNT
           FROM
                 (SELECT A1.*, 'ORG' AS TARGET_TB FROM TH_CONSULT_DETAIL A1
                UNION ALL
                SELECT A2.*, 'HIST' AS TARGET_TB FROM TH_CONSULT_DETAIL_HIST A2) A ,
                TH_TRANSFER B,IF_CO_USER_MA C
         WHERE 1=1
             AND A.CNLT_SEQ = B.CNLT_SEQ
             AND A.CNLT_DETAIL_NO = B.CNLT_DETAIL_NO
             AND A.USER_ID = C.USER_ID
             AND A.CNLT_PROC_CD IN  ('03','04','07')
             <if test="selCustNm != null and selCustNm != ''">
             AND A.CNLT_SEQ IN (SELECT CNLT_SEQ FROM TH_CONSULT WHERE CUST_NM LIKE '%'|| #{selCustNm} ||'%')
             </if>
             <if test="selTellNum != null and selTellNum != ''">
             AND A.TELL_NUM  LIKE '%'|| #{selTellNum} ||'%'
             </if>
             <if test="selUserNm != null and selUserNm != ''">
             AND C.USER_NM LIKE '%'|| #{selUserNm} ||'%'
             </if>
             <if test="selTranNm != null and selTranNm != ''">
             AND A.TRAN_ID IN (SELECT USER_ID FROM IF_CO_USER_MA WHERE USER_NM LIKE '%'|| #{selTranNm} ||'%')
             </if>
             <if test="selFromDt != null and selFromDt != ''">
             AND A.CNLT_DATE  BETWEEN TO_DATE(#{selFromDt},'YYYY-MM-DD') AND (TO_DATE(#{selToDt},'YYYY-MM-DD') +1)
             </if>
    </select>

	<!-- [이관내역] 상세목록 조회 -->
    <select id="selectDetail" resultType="TransferDomain" parameterType="TransferDomain">
        <if test="targetTb == 'ORG'.toString()">
	        SELECT A.CNLT_SEQ
	                    , A.CNLT_DETAIL_NO
	                    , A.CNLT_PROC_CD
	                    , A.CNLT_DATE
	                    , A.TELL_NUM
	                    , (SELECT USER_NM FROM IF_CO_USER_MA WHERE USER_ID = A.USER_ID) AS USER_NM
	                    , A.CHNL_CODE
	                    , A.REG_DATE
	                    , A.TRAN_ID
	                    , (SELECT USER_NM FROM IF_CO_USER_MA WHERE USER_ID = A.TRAN_ID) AS TRAN_NM
	                    , A.RECV_NOTE
	                    , A.PROC_NOTE
	                    , A.CHNL_CODE
	                     , A.CNTR_NO
		                 , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE='00' AND MCODE='00' AND SCODE='00') AS CHNL_CODE_NAME
		                 , LCODE
		                 , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND LCODE <![CDATA[<>]]> '00' AND MCODE='00' AND SCODE='00') AS LCODE_NAME
		                 , MCODE
		                 , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND MCODE=A.MCODE AND MCODE <![CDATA[<>]]> '00' AND SCODE='00') AS MCODE_NAME
		                 , SCODE
		                 , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND MCODE=A.MCODE AND SCODE=A.SCODE AND SCODE <![CDATA[<>]]> '00') AS SCODE_NAME
	                    , A.TELL_NUM
	                    , (SELECT CUST_NM FROM TH_CONSULT WHERE CNLT_SEQ = B.CNLT_SEQ) AS CUST_NM
	                    , A.REC_URL
	            FROM TH_CONSULT_DETAIL  A , TH_TRANSFER B
	          WHERE 1=1
	              AND A.CNLT_SEQ = B.CNLT_SEQ
	              AND A.CNLT_DETAIL_NO = B.CNLT_DETAIL_NO
	              AND A.CNLT_PROC_CD IN  ('03','04','07')
	              AND A.CNLT_SEQ = #{cnltSeq}
	              AND A.CNLT_DETAIL_NO = #{cnltDetailNo}
            </if>
            <if test="targetTb == 'HIST'.toString()">
                SELECT A.CNLT_SEQ
                        , A.CNLT_DETAIL_NO
                        , A.CNLT_PROC_CD
                        , A.CNLT_DATE
                        , A.TELL_NUM
                        , (SELECT USER_NM FROM IF_CO_USER_MA WHERE USER_ID = A.USER_ID) AS USER_NM
                        , A.CHNL_CODE
                        , A.REG_DATE
                        , A.TRAN_ID
                        , (SELECT USER_NM FROM IF_CO_USER_MA WHERE USER_ID = A.TRAN_ID) AS TRAN_NM
                        , A.RECV_NOTE
                        , A.PROC_NOTE
                        , A.CHNL_CODE
                         , A.CNTR_NO
                         , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE='00' AND MCODE='00' AND SCODE='00') AS CHNL_CODE_NAME
                         , LCODE
                         , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND LCODE <![CDATA[<>]]> '00' AND MCODE='00' AND SCODE='00') AS LCODE_NAME
                         , MCODE
                         , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND MCODE=A.MCODE AND MCODE <![CDATA[<>]]> '00' AND SCODE='00') AS MCODE_NAME
                         , SCODE
                         , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND MCODE=A.MCODE AND SCODE=A.SCODE AND SCODE <![CDATA[<>]]> '00') AS SCODE_NAME
                        , A.TELL_NUM
                        , (SELECT CUST_NM FROM TH_CONSULT WHERE CNLT_SEQ = B.CNLT_SEQ) AS CUST_NM
                        , A.REC_URL
                FROM TH_CONSULT_DETAIL_HIST  A , TH_TRANSFER B
              WHERE 1=1
                  AND A.CNLT_SEQ = B.CNLT_SEQ
                  AND A.CNLT_DETAIL_NO = B.CNLT_DETAIL_NO
                  AND A.CNLT_PROC_CD IN  ('03','04','07')
                  AND A.CNLT_SEQ = #{cnltSeq}
                  AND A.CNLT_DETAIL_NO = #{cnltDetailNo}
            </if>
    </select>

    <!-- [이관내역 엑셀] 목록 조회 -->
    <select id="selectExcel" resultType="TransferDomain" parameterType="TransferDomain">
        SELECT A.CNLT_SEQ
                 , A.CNLT_DETAIL_NO
                 , A.CNLT_PROC_CD
                 , A.CNLT_DATE
                 , A.TELL_NUM
                 , C.USER_NM AS USER_NM
                 , A.CHNL_CODE
                 , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE='00' AND MCODE='00' AND SCODE='00') AS CHNL_CODE_NAME
                 , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND LCODE <![CDATA[<>]]> '00' AND MCODE='00' AND SCODE='00') AS LCODE_NAME
                 , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND MCODE=A.MCODE AND MCODE <![CDATA[<>]]> '00' AND SCODE='00') AS MCODE_NAME
                 , (SELECT CODE_NAME FROM TH_CONSULT_CODE WHERE CHNL_CODE = A.CHNL_CODE AND LCODE=A.LCODE AND MCODE=A.MCODE AND SCODE=A.SCODE AND SCODE <![CDATA[<>]]> '00') AS SCODE_NAME
                 , A.REG_DATE
                 , A.TRAN_ID
                 , (SELECT USER_NM FROM IF_CO_USER_MA WHERE USER_ID = A.TRAN_ID) AS TRAN_NM
                 , A.TRAN_ID
                 , A.RECV_NOTE
                 , A.PROC_NOTE
                 , A.CNTR_NO
                 , A.IO_TYPE
                 , A.TARGET_TB
                 , (SELECT CUST_NM FROM TH_CONSULT WHERE CNLT_SEQ = B.CNLT_SEQ) AS CUST_NM
          FROM
                 (SELECT A1.*, 'ORG' AS TARGET_TB FROM TH_CONSULT_DETAIL A1
                UNION ALL
                SELECT A2.*, 'HIST' AS TARGET_TB FROM TH_CONSULT_DETAIL_HIST A2) A ,
                 TH_TRANSFER B,IF_CO_USER_MA C
        WHERE 1=1
            AND A.CNLT_SEQ = B.CNLT_SEQ
            AND A.CNLT_DETAIL_NO = B.CNLT_DETAIL_NO
            AND A.USER_ID = C.USER_ID
            AND A.CNLT_PROC_CD IN  ('03','04','07')
            <if test="selCustNm != null and selCustNm != ''">
            AND A.CNLT_SEQ IN (SELECT CNLT_SEQ FROM TH_CONSULT WHERE CUST_NM LIKE '%'|| #{selCustNm} ||'%')
            </if>
            <if test="selTellNum != null and selTellNum != ''">
            AND A.TELL_NUM  LIKE '%'|| #{selTellNum} ||'%'
            </if>
            <if test="selUserNm != null and selUserNm != ''">
            AND C.USER_NM LIKE '%'|| #{selUserNm} ||'%'
            </if>
            <if test="selTranNm != null and selTranNm != ''">
            AND A.TRAN_ID IN (SELECT USER_ID FROM IF_CO_USER_MA WHERE USER_NM LIKE '%'|| #{selTranNm} ||'%')
            </if>
            <if test="selFromDt != null and selFromDt != ''">
            AND A.CNLT_DATE  BETWEEN TO_DATE(#{selFromDt},'YYYY-MM-DD') AND (TO_DATE(#{selToDt},'YYYY-MM-DD') +1)
            </if>
           ORDER BY A.CNLT_DATE DESC
    </select>
</mapper>